* {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
.flexing-flow-row {
  display: flex;
  flex-wrap: nowrap;
}
.flexing-flow-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
input {
  width: 100%;
}
button {
  color: #c1f7d5;
  margin-right: auto;
}
select,
input,
button {
  border: none;
  border-bottom: 2px solid #c1f7d5;
  outline: none;
  background: transparent;
  height: 2.5em;
}
header {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 2em;
  padding-left: 10vw;
  padding-right: 10vw;
}
.header-heading p {
  margin: auto;
  text-align: center;
  width: 12em;
  font: Bold 1.1em/1.3em Helvetica;
  color: #354463;
}
.donation-form {
  padding-left: 10vw;
  padding-right: 10vw;
  background-image: url('./images/donation/annie-spratt-427340-unsplash.png');
  background-color: black;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  padding-top: 3em;
  padding-bottom: 1em;
}
@font-face {
  font-family: flood;
  src: url('./fonts/FloodStd.otf');
}
.form-heading p {
  font-family: flood;
  font-size: 2em;
  word-spacing: 0.2em;
  color: #ffffff;
  margin-bottom: 4vw;
}
.form {
  background: #354463 0% 0% no-repeat padding-box;
  padding: 2em;

  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font: normal 0.6em/1em Helvetica;
  letter-spacing: 0.14em;
  color: #ffffff;
}
.name {
  justify-content: space-between;
}
.name :first-child input {
  width: 30vw;
}
.name :last-child input {
  width: 30vw;
}
.city inputText {
  width: 35vw;
}
.state select {
  width: 15vw;
  margin-left: 1em;
  margin-right: 1em;
}
.zip input {
  width: 15vw;
}
.email {
  margin-bottom: 5em;
}
.form h2 {
  font-size: 2em;
}
.form h3 {
  font: normal 2em/1em Helvetica;
}
.expiration-month input {
  width: 20vw;
}
.cvv {
  width: 25vw;
  margin-left: auto;
  align-self: flex-end;
}
.button--submit {
  padding: 1em;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 50px;
  border: none;
  order: -1;
}
@media screen and (min-width: 700px) {
  .header-heading p {
    width: 12em;
  }
  .form {
    padding: 5em;
  }
  .name :first-child input {
    width: 30vw;
  }
  .name :last-child input {
    width: 30vw;
  }
  .form-heading {
  }
  .form-heading p {
    width: 50vw;
    margin: auto;
    margin-bottom: 1em;
  }
  .button--submit {
    width: 20em;
    order: 1;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .header-heading p {
    width: 12em;
  }
  .donation-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .form-heading p {
    width: 6em;
    font-size: 3em;
  }
  .form {
    width: 60%;
  }
  .name :first-child input {
    width: 20vw;
  }
  .name :last-child input {
    width: 18vw;
  }
  .city input {
    width: 18vw;
  }
  .state select {
    width: 10vw;
    margin-left: 1em;
    margin-right: 1em;
  }
  .zip input {
    width: 10vw;
  }
  .form h2 {
    font-size: 3em;
  }
  .form h3 {
    font: normal 2.5em/1.5em Helvetica;
  }
  .expiration-month input {
    width: 10vw;
  }
  .cvv {
    width: 10vw;
    margin: auto;
  }
}

/* material css */
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: 1px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}
.float {
  position: relative;
}
.floating-label {
  position: absolute;
  /* pointer-events: none; */
  left: 20px;
  top: 10px;
  transition: 0.2s ease all;
  color: black;
  font-size: 10px;
}
