* {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
/* navigation class */
.navigation {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 2em;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  justify-content: space-between;
}
.logo {
  font: Bold 1.4em/1.6em Helvetica;
  color: #354463;
  width: 13%;
}
header ul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10em;
}
header li {
  font: Light 1em/1.5em Helvetica;
  letter-spacing: 0.1px;
  color: #354463;
  opacity: 0.6;
}
/* for all the anchore  setting decoration off*/
a {
  color: black;
  text-decoration: none;
  color: black;
}
.button {
  padding: 1em;
  /* flex-basis: auto; */
  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 50px;
  align-self: center;
  border: none;
}
.button a {
  font: Bold 1.1em/1.4em Helvetica;
  color: #354463;
}
/* for section hero, adding background and rules*/
.hero {
  padding: 9%;
  padding-left: 10vw;
  padding-right: 10vw;
  background: transparent
    url('./images/home/annie-spratt-135307-unsplash@3x.png') 0% 0% no-repeat
    padding-box;
  background-color: black;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* inner-hero-container is division inside hero */
.inner-hero-container {
  color: black;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 4%;
  height: 23vw;
  flex-basis: 40%;
  position: relative;
}
.inner-hero-container p {
  font: Bold 2.6em/1.3em Helvetica;
  color: #354463;
}
/* the issue container */
.issue-hero-container {
  text-align: center;
  padding: 0.7em;
  background: #354463 0% 0% no-repeat padding-box;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 30%;
  position: absolute;
  top: -4%;
}
.inner-hero-container a {
  font: Light 1em/1.8em Helvetica;
  letter-spacing: 0.03em;
  color: #354463;
  opacity: 0.7;
}
/* adding the font flood, and making it globaly available through name flood */
@font-face {
  font-family: flood;
  src: url('./fonts/FloodStd.otf');
}
.message {
  font-family: flood;
  color: white;
  font-size: 4.7em;
  flex-basis: 30%;
  margin-right: 10%;
}
.take-action-container {
  position: absolute;
  left: 45%;
  top: -1em;
  text-align: center;
  padding: 0.7em;
  background: #354463 0% 0% no-repeat padding-box;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 10%;
  z-index: 1;
}
.aside-container {
  position: relative;
}
aside {
  padding: 5em;
  padding-left: 10vw;
  padding-right: 10vw;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* aside, mai header and footer paragraph all have same font type */
aside h2,
.main-innercontainer-child h2,
.aboveFooter p {
  font: Bold 1.8em/1.2em Helvetica;
  color: #354463;
}
aside p,
.main-innercontainer-child p {
  letter-spacing: 0.01em;
  color: #354463;
  opacity: 0.8;
}
.aside-info {
  flex-basis: 15em;
}
/* rules for main section */
.main {
  padding: 10em;
  padding-left: 10vw;
  padding-right: 10vw;
  background: #354463 0% 0% no-repeat padding-box;
  display: flex;
  flex-flow: column;
}
.main-about-heading {
  background: #ffffff 0% 0% no-repeat padding-box;
  width: 10em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #354463;
  padding: 0.55em;
}
.main-about {
  font: Bold 44px/56px Helvetica;
  color: #ffffff;
  padding-top: 1em;
  padding-bottom: 2em;
}
.main-inner-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-innercontainer-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1px;
  width: 22em;
  height: 35em;
  padding: 4em;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.main-innercontainer-child img {
  height: 13em;
  width: 20em;
  margin-top: -6em;
}
.button--main {
  margin-right: auto;
  width: 10em;
  text-align: center;
}
/* footer section */
.footer {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 4em;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__detail {
  flex-basis: 6%;
}
.footer__detail h4 {
  text-align: left;
  font: Regular 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #354463;
  opacity: 0.9;
}
h4:after {
  content: ' ';
  display: block;
  border: 1px solid #d0d0d0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer__detail p {
  text-align: left;
  font: Light 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 0.8;
}
.message--footer {
  font-family: flood;
  color: #354463;
  font-size: 3.4em;
  flex-basis: 30%;
  text-align: right;
}
/* media query for small screes like mobile */
@media screen and (max-width: 650px) {
  .navigation {
    flex-wrap: wrap;
  }
  .logo {
    font: Bold 1.1em/1em Helvetica;
    width: 40%;
    align-self: center;
  }
  header ul {
    flex-direction: column;
    width: 30%;
    margin-left: 0;
  }
  header li {
    width: 100px;
    margin-top: 8px;
    opacity: 0.7;
    font-size: 0.8em;
  }
  .button--mobile-top {
    flex-basis: 100%;
  }
  .button {
    margin-top: 35px;
    padding: 10px;
    text-align: center;
  }
  .hero {
    flex-direction: column-reverse;
    height: 50em;
  }
  .inner-hero-container {
    padding: 10vw;
    height: auto;
  }
  .inner-hero-container p {
    font: Bold 1.5em/1.3em Helvetica;
    color: #354463;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .issue-hero-container {
    width: 60%;
    top: -1em;
    left: 4em;
  }
  .message {
    font-size: 3em;
  }
  .take-action-container {
    width: 50%;
    left: 25vw;
  }
  aside h2,
  .main-innercontainer-child h2 {
    font-size: 1.2em;
  }
  .aside-info {
    flex-basis: 7em;
    margin: 1em;
  }
  aside p {
    font-size: 0.9em;
    letter-spacing: 0.055em;
  }
  .main {
    padding: 4em;
    align-items: center;
  }
  .main-about-heading {
    width: 13em;
  }
  .main-about {
    font: Bold 1.4em/1.3em Helvetica;
    text-align: center;
    margin-bottom: 2em;
  }
  .main-inner-container {
    justify-content: center;
  }
  .main-innercontainer-child {
    height: auto;
    margin-bottom: 6em;
    width: 20em;
    padding: 3em;
  }
  .main-innercontainer-child img {
    width: 14em;
  }
  .main-innercontainer-child h2 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  .button--main {
    margin: auto;
    margin-top: 2em;
  }
  .main-inner-container :last-child {
    margin-bottom: 0;
  }
  .footer__detail {
    flex-basis: 7em;
    margin-bottom: 3em;
  }
  .message--footer {
    font-size: 3em;
    margin-left: 2em;
  }
}
/* media query for medium screen size like tablets */
@media screen and (max-width: 1400px) and (min-width: 650px) {
  .navigation {
    flex-wrap: wrap;
  }
  .logo {
    font: Bold 1.1em/1em Helvetica;
    /* width: 9em; */
    width: 30%;
  }
  header ul {
    order: 3;
    flex-basis: 60%;
    margin-left: 0;
  }
  .hero {
    flex-direction: column-reverse;
    height: auto;
  }
  .inner-hero-container {
    padding: 6vw;
  }
  .inner-hero-container p {
    font: Bold 4vw/5vw Helvetica;
    width: 60vw;
    margin-bottom: 3vw;
  }
  .message {
    width: 1em;
    font-size: 4em;
    margin-bottom: 15vw;
  }
  .take-action-container {
    width: 25vw;
    left: 37vw;
  }
  aside {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .aside-info {
    flex-basis: 30vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  .main-about {
    font: Bold 4vw/5vw Helvetica;
  }
  .main-inner-container {
    flex-flow: column;
  }
  .main-innercontainer-child {
    width: 80vw;
    padding: 7vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10vw;
    height: auto;
    justify-content: space-evenly;
    position: relative;
  }
  .main-innercontainer-child img {
    width: 30vw;
  }
  .main-innercontainer-child h2 {
    font-size: 2.7vw;
    width: 30vw;
  }
  .button-tab {
    margin-block-start: auto;
    width: 17vw;
  }
  .main-innercontainer-child p {
    order: 1;
    width: 25vw;
    margin-right: 7vw;
  }
  .main-inner-container :last-child {
    margin-bottom: 0;
  }
  .button--main {
    margin-top: 2vw;
    margin-left: 8vw;
    padding: 0.6em;
  }
  .footer {
    justify-content: flex-start;
  }
  .footer__detail {
    flex-basis: 10vw;
    margin-left: 10vw;
    margin-bottom: 5vw;
  }
  .detail-second-child {
    order: 1;
    margin-left: 33.5vw;
  }
  .message--footer {
    margin-left: auto;
    order: 2;
  }
}
